    
  body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Young Serif', serif;



  }  
    
    
    /*header*/ 
  .head{
    background-image: url("images/banner/banner2.png");
    height:800px;
     text-align: right;
     padding-top:200px ;
     background-repeat: no-repeat;
  }
  .btn-1{
    height: 60px;
    background-color: coral;
    border: 0;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size:20px ;
    padding: 15px 30px;
    /*header end*/
  }
  /*main*/
  .main{
    display: flex;
    
  

  }
  .list{
    margin-top:200px ;
    padding-left: 60px;
  }
  span{
    content: "/2713";
    color:green;
  }
  .image-1{


    position: relative;
    display: inline-block;
  }
  .image-2{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shape{
    
    position: absolute; 
    top: 63%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 93%; 
    height: 72%; 
    background-color: pink; 
    border: 2px solid pink; 
    border-radius: 50%;
    z-index: -1;
   }
   .name{
    display: flex;
    gap:170px;
    justify-content: center;
    
}
.items{
  
    padding: 15px;
    /*main end*/
} 
/*watch section*/
 .watch{
  position:relative;
  display: inline-block;
  margin-left: 190px;
  margin-top: 50px;
  height: 300px;
  width: 1140px;
  margin-bottom: 90px;
}
.div1{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.div2{
      position: absolute; 
      top: 0; 
      left: 0; 
      z-index: -1; 
      height:300px;
      width:1140px;
}
.text{ 
  margin-right: 560px;
  color: white; 
  z-index: 1; 
}

 


   .btn-2{
    height: 60px;
    background-color: white;
    border: 0;
    color: coral;
    border-radius: 5px;
    font-weight: 700;
    font-size:20px ;
    padding: 15px 30px;
    /*watch section end*/
}
   /*footer*/
  footer{
    background-color: black;
    color: white;
    padding-top: 100px;
    display: flex;
    padding-bottom:100px;
    


  }
  .end{
margin-left: 40px;
margin-right:40px;

  }
  .end-2{
    margin-left: 500px;
    margin-right: 40px;


  }
  .btn-3{

    height:40px;
    background-color: white;
    border: 0;
    color: coral;
    border-radius: 5px;
    font-weight: 700;
    font-size:15px ;
    

  }
  .b{

    background-color: black;
    height: 60px;
    width:200px;
    border: 2px solid white;
    border-radius: 5px;
  }
  /*footer end */
  









